<!DOCTYPE html>
<html>
<head>
	<title>Stock exchange</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="css/icons.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body class="container">
<main id="mainElement" class="content">
</main>
<script id="productTemplate" type="text/template">
  <div class="product">
    <div class="product-description">
      <i><%= productName %></i>
      <b> - <%= productPrice %>$</b>
    </div>
    <div class="product-image icon icon_<%=productName %>"></div>
    <button class="js-edit">Edit</button>
    <button class="js-delete">Delete</button>
  </div>
</script>
<script id="productEditTemplate" type="text/template">
    <div class="js-error error">Please check data you entered</div>
    <div class="js-serverError error">Sorry, something went wrong</div> 
    <label>Name
      <input id="productName" value="<%= productName %>" />
    </label>
    <label>Price
      <input id="productPrice" value="<%= productPrice %>" />
    </label>
    <button class="js-submit">Submit</button>
</script>
<script id="productDetailsTemplate" type="text/template">
  <div class="well">
  <button type="button" class="close js-close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <i class="bg-primary"><%= productName %></i>
    <b class="bg-primary"> - <%= productPrice %>$</b>
    <p class="bg-danger"> - <%= productDescription %></p>
    <div class="bg-warning">
      maximum price: <%= maxPrice %>
      minimum price: <%= minPrice %>
    </div>
    <img src="<%= imgSrc %>" class="productImage">
  </div>
</script>
<script id="productCollectionTemplate" type="text/template">
  <form>
  <div class="form-group js-newProductForm">
    <h2>Adding new product</h2>
      <div class="js-error error">Please check data you entered</div>
      <div class="js-serverError error">Sorry, something went wrong</div> 
    <label>
      Name
      <input class="form-control" name="productName" id="productName" />
    </label>
    <label>
      Price
      <input class="form-control" name="productPrice" id="productPrice" />
    </label>
    <button type="button" class="btn btn-primary" id="createProduct">Create new product</button>
  </div>
  </form>
  <section class="content">
   <h2 class="content-header">Products to sell</h2>

  </section>
</script>
<script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
<script src="js/underscore.js"></script>
<script src="js/helpers.js"></script>
<script src="js/mediator.js"></script>
<script src="js/product-view.js"></script>
<script src="js/observer.js"></script>
<script src="js/product-model.js"></script>
<script src="js/product-details-controller.js"></script>
<script src="js/product-controller.js"></script>
<script src="js/product-collection.js"></script>
<script src="js/product-collection-controller.js"></script>
<script src="js/stateManager.js"></script>
<script src="js/app.js"></script>
</body>
</html>