/*-------------------------------------------------
BANNER CLASSES
-------------------------------------------------*/

.banner-wrapper {
    width: 958px;
    margin: 0 auto;
    background: e(replace("url(../images/banner-bg.jpg)", "../images", @rootImage)) repeat-x #ffffff;
    border: 1px solid #e5e5e5;
    margin-top: 44px;
    overflow: hidden;
}
.banner {
    float: left;
    padding-top: 20px;
    margin-left: 51px;
}


.banner-content {
    width: 260px;
    float: right;
    margin-top: 154px;
    margin-right: 30px;

    h1 {
        font-family: 'Tienne', serif;
        font-size: 30px;
        color: #e5703d;
        text-transform: uppercase;
        font-weight: normal;
    } 
    h2 {
        color: #bbbbbb;
        font-family: 'Lato', sans-serif;
        font-size: 22px;
        font-weight: normal;
        text-transform: none;
    }
    p {
        color: #bbbbbb;
        font-size: 12px;
        padding-top: 20px;
    }
    a {
        background: #333333;
        .repeated-a;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: normal;
    
        &:hover {
            background: #e5703d;
            .repeated-a;
        }
    }
}
.repeated-a {
        display: block;
        width: 180px;
        height: 40px;
        line-height: 40px;
        margin-top: 20px;
        color: #ffffff;
        font-family: 'Tienne', serif;
        font-size: 15px;
        text-align: center;
}