/*-------------------------------------------------
GENERAL CLASSES
-------------------------------------------------*/

.panel {
    background: #ffffff;
    overflow: hidden;
}
.title {} .content {
    overflow: hidden;
    font-size: 13px;
}
.button-link {} .button-link a {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Tienne', serif;
    font-size: 11px;
    background: #FF6600;
    width: 90px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    display: block;
    font-weight: normal;
}
.button-link a:hover {
    text-decoration: none;
    background: #333333;
}