/*-------------------------------------------------
GLOBALS CLASSES   
-------------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
body {
    background: #333333;
}
p {
    color: #919191;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
}
a {
    text-decoration: none;
    color: #e5703d;
}
a:hover {
    text-decoration: none;
    color: #333333;
}
ul li {
    list-style: none;
    outline: none;
}
img {
    border: none;
}
img {
    border: none;
}
h1 {
    font-family: 'Tienne', serif;
    font-size: 20px;
    color: #e5703d;
    text-transform: uppercase;
    font-weight: normal;
}
h1 span {
    font-family: 'Tienne', serif;
    font-size: 22px;
    color: #333333;
    font-weight: normal;
}
h2 {
    font-family: 'Tienne', serif;
    font-size: 20px;
    color: #333333;
    text-transform: uppercase;
    font-weight: normal;
}
a {} a:hover {}