/*-------------------------------------------------
HEADER CLASSES
-------------------------------------------------*/

.menu-wrapper {
    width: 960px;
    margin: 0 auto;
    margin-top: 109px;
    background: #e5703d;
    overflow: hidden;
}
.menu {
    width: 100%;
    float: left;
    margin: 0 auto;
}
.menu ul li {
    float: left;
    width: 95px;
    background: e(replace("url(../images/div.png)", "../images", @rootImage)) no-repeat right;
}
.menu ul li a {
    width: 95px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-family: 'Tienne', serif;
    font-size: 12px;
    color: #333333;
    text-transform: uppercase;
    display: block;
    text-decoration: none;
}
.menu ul li a:hover {
    color: #ffffff;
}
.menu ul li a.active {
    color: #ffffff;
}
.menu ul li.img {
    background: none;
}
.wrapper {
    width: 100%;
    overflow: hidden;
    background: #ffffff;
}
.header-wrapper {
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
    height: auto;
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 20px;
}
.logo {
    width: 504px;
    float: left;
    margin-top: 52px;
}
.logo h1 {
    font-family: 'Tienne', serif;
    font-size: 40px;
    color: #333333;
    text-transform: uppercase;
    font-weight: normal;
}
.logo h1 span {
    color: #e5703d;
    font-size: 40px;
    padding-bottom: 1px;
}
.logo p {} .right-panel {
    float: right;
    width: 456px;
    overflow: hidden;
    margin-top: 40px;
}
.leftcontent {
    width: 175px;
    float: left;
    border-right: 1px solid #e2e2e2;
}
.leftcontent h2 {
    float: right;
    font-family: 'Tienne', serif;
    font-size: 14px;
    color: #e5703d;
    text-transform: uppercase;
    padding-right: 27px;
    padding-bottom: 11px;
    font-weight: normal;
}
.leftcontent h1 {
    float: left;
    font-family: 'Tienne', serif;
    font-size: 20px;
    color: #333333;
    padding-bottom: 12px;
    font-weight: normal;
}
.search-panel {
    float: left;
    width: 250px;
    overflow: hidden;
}
.search-panel h2 {
    float: right;
    font-family: 'Tienne', serif;
    font-size: 14px;
    color: #e5703d;
    text-transform: uppercase;
    font-weight: normal;
    padding-bottom: 5px;
}
.search {
    width: 250px;
}
.search-input {
    float: left;
    width: 248px;
    border: 1px solid #e2e2e2;
    background: #ffffff;
}
.search-text-field {
    width: 200px;
    border: 0px solid;
    background: #ffffff;
    color: #919191;
    height: 36px;
    line-height: 36px;
    padding-left: 10px;
}
.search-button {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}