/*-------------------------------------------------
LAYOUT CLASSS
-------------------------------------------------*/

.page-wrapper {
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 50px;
    padding-bottom: 60px;
}
.primary-content {
    float: left;
    width: 480px;
    overflow: hidden;
    border-right: 1px solid #e2e2e2;
}
.sidebar {
    float: left;
    width: 450px;
    overflow: hidden;
}
/*-------------------------------------------------
PRIMARY CONTENT CLASSS
-------------------------------------------------*/

.primary-content .panel {} .primary-content .title {
    width: 100%;
}
.primary-content .title h2 {
    padding-bottom: 18px;
}
.primary-content .content p {
    padding-bottom: 18px;
    line-height: 18px;
    padding-right: 32px;
}
.primary-content .button-link a {
    font-style: normal;
    text-decoration: none;
    margin-top: 8px;
}
.primary-content a {
    font-style: italic;
    text-decoration: underline;
}
/*-------------------------------------------------
SIDEBAR CLASSS
-------------------------------------------------*/

.sidebar .panel {
    padding-left: 30px;
}
.sidebar .title {} .sidebar .title h2 {
    padding-bottom: 14px;
}
.sidebar .content {} .sidebar .content p {
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px solid #e2e2e2;
}
.sidebar .content p span {
    color: #333333;
    font-size: 11px;
}
.sidebar .content p.borderNone {
    border-bottom: none;
}
/*-------------------------------------------------
LEFT-COLUM CLASSS
-------------------------------------------------*/

.left-colum {
    width: 300px;
    overflow: hidden;
    float: left;
    margin-right: 60px;
}
.left-colum .content p {
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px solid #e2e2e2;
}
.left-colum .content p span {
    color: #333333;
    font-size: 11px;
}
.left-colum .content p.borderNone {
    border-bottom: none;
}
/*-------------------------------------------------
RIGHT-COLUM CLASSS
-------------------------------------------------*/

.right-colum {
    width: 600px;
    overflow: hidden;
    float: right;
}
.right-colum .panel {
    margin-bottom: 50px;
    width: 100%;
}
.right-colum .title {
    padding-bottom: 14px;
}
.right-colum .content h2 {
    padding-bottom: 20px;
}
.right-colum .content h3 {
    padding-bottom: 10px;
    color: #e5703d;
}
.right-colum .content img {
    float: left;
    margin-right: 30px;
}
.right-colum .content p {
    line-height: 18px;
    padding-bottom: 20px;
    text-align: justify;
}