/*-------------------------------------------------
3 PANELS CLASSS
-------------------------------------------------*/
@panelColor: #e2e2e2;

.panel-wrapper {
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 50px;
    border-bottom: 1px solid @panelColor;
    .panel {
    float: left;
    width: 300px;
    margin-bottom: 50px;
    }
    .title {
    padding-bottom: 14px;
    }
    .button-link {
    padding-top: 26px;
    }
    .bdrBottom {
    border-bottom: none;
    }
    .content {
        p {
        line-height: 18px;
        }
        ul li {
            display: block;
            border-bottom: 1px solid @panelColor;
            height: 40px;
            line-height: 40px;
            & a {
            color: #919191;
            font-size: 13px;
            text-decoration: none;
                &:hover {
                color: #e5703d;
                }
            }
            &.borderNone {
            border-bottom: none;
            }
        }
        img {
        width: 200px;
        height: 180px;
        }
    }
    .contentbox {
        width: 200px;
        height: 50px;
        background: @panelColor;
        h1 {
            font-size: 13px;
            font-weight: normal;
            color: #333333;
            text-align: center;
            line-height: 50px;
        }
    }

    .midpanelleft {
    width: 270px;
    float: left;
    margin-bottom: 44px;
    }
    .midpanelright {
    width: 660px;
    float: left;
        .panel {
        width: 200px;
        float: left;
        }
    }
}