/*-------------------------------------------------
CSS TWEAKS
-------------------------------------------------*/

.clearing {
    clear: both;
}
.fltLeft {
    float: left;
}
.flrRight {
    float: right;
}
.marLeft30 {
    margin-left: 30px;
}
.marRight30 {
    margin-right: 30px;
}
.marginTop {
    margin-top: 30px;
}
.marginBottom {
    margin-bottom: 60px;
}
.padTop {
    padding-top: 20px;
}
.padBottom {
    padding-bottom: 20px;
}
.wid960 {
    width: 960px !important;
}