header, footer {
	padding: 20px 10px;
	background-color: rgb(236, 246, 254);
}

header div:not(.clear), footer div:not(.clear) {
	display: inline-block;
	height:40px;
	width: 70px;
	color: white;
	background-color: rgb(82, 126, 232);
	border-style: outset;
	text-align: center;
	line-height: 40px; 
	margin: 0 6px;
	float: right;
}

footer div:not(.clear) {
	float: left;
}

.clear {
	clear: both;
}

section {
	padding: 20px;
	margin: 20px; 
	border: solid rgb(170, 187, 241) 1px;
}

section p {
	background-color: rgb(242, 243, 211);
}

section a {
	display: inline-block;
	color: white;
	background-color: rgb(146, 26, 32);
	border-style: outset;
	padding: 0 5px;
	text-decoration: none;
}

section div {
	display: inline-block;
	margin-top: 10px;
	padding: 0 10px;
	color: rgb(82, 126, 232);
	background-color: white;
	border-style: outset;
	text-align: center;
	line-height: 150%; 
}
















