<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="user-input">
    <label for="productName">insert name of product</label><input type="text" name="productName" id="productName">
    <label for="productPrice">insert price of product</label><input type="text" name="productPrice" id="productPrice">
    <button id="createButton">Create</button>
</div>

<section class="product-to-sell" id="productSell"></section>

<script id="productTemplate" type="text/template">
        <div class="name"><%= tempName %></div>
        <div class="price"><%= tempPrice %></div>
        <button class="delete">Delete</button>
</script>
<script src="js/underscore.js"></script>
<script src="js/product-template.js"></script>
<script src="js/product.js"></script>
<script src="js/productToSell.js"></script>
<script src="js/productCollection.js"></script>
<script src="js/main.js"></script>
</body>
</html>