label {
    font-size: 1.5em;
}
#productName, #productPrice {
    width: 200px;
    margin: 10px;
    padding: 10px;
    border: 0;
    font-size: 2em;
    background-color: aliceblue;
    color: #555;
}
#productName:focus, #productPrice:focus {
    border: 3px solid cornflowerblue;
    border-radius: 8px;
}
.box {
    width: 160px;
    height: 160px;
    display: inline-block;
    margin: 20px;
    padding: 20px;
    color: #fff;
    border-radius: 12px;
    background-color: cornflowerblue;
}