<h1>Details</h1>
<div class="well">
<button type="button" class="close js-close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <i class="bg-primary">{{product.name}}</i>
  <b class="bg-primary"> - {{ product.price }}$</b>
  <p class="bg-danger"> - {{ product.description }}</p>
  <div class="bg-warning">
    maximum price: {{ product.maxPrice }}
    minimum price: {{ product.minPrice }}
  </div>
</div>
<se-product></se-product>