<div class="product">
    <div class="product-description" ng-click="showDetails(myProduct.name)">
      <div ng-show="!myProduct.isEditing">
        <i>{{myProduct.name}}</i>
        <b> - {{myProduct.price}}$</b>
      </div>
      <div ng-show="myProduct.isEditing">
        <input type="text" ng-model="myProduct.name"/>
        <input type="text" ng-model="myProduct.price"/>
      </div>
    </div>
    <div class="product-image icon icon_{{myProduct.name}}"></div>
    <button ng-click="edit({})">Edit</button>
    <button ng-click="submit(myProduct)">Submit</button>
    <button ng-click="delete()">Delete</button>
</div>