<main id="mainElement" class="content" ng-controller="ProductCollectionController">
<form name="productForm" ng-submit="add()" novalidate="true">
  <div class="form-group">
    <h2>Adding new product</h2>
      <div class="error" 
      ng-show="productForm.$submitted && productForm.$dirty && productForm.$invalid">
        Please check data you entered
      </div>
    <label>
      Name
      <p class="error" 
      ng-show="productForm.$submitted && productForm.productName.$touched &&productForm.productName.$invalid">Name is invalid</p>
      <input class="form-control" 
      ng-model="newProduct.name"
      ng-required="true"
      name="productName" id="productName" />
    </label>
    <label>
      <input class="form-control" 
      ng-model="newProduct.price"
      ng-required="true"
      ng-pattern="/[0-9]/"
      name="productPrice" id="productPrice" />
    </label>
    <button type="submit" 
    class="btn btn-primary" id="createProduct">Create new product</button>
  </div>
  </form>
  <section class="content">
   <h2 class="content-header">Products to sell</h2>
   <div ng-repeat="product in productCollection">
     {{product.name}}
   </div>
   <se-product 
   product-attr="product"
   edit-attr="edit()" 
   ng-repeat="product in productCollection"></se-product>
  </section>
</main>