body, html {
  margin: 0;
  padding: 0;
}
.wrapper {
  width: 75%;
  margin: 0 auto;
  text-align: center;
  color: white;
}
h1, .attended-container {
  background-color: navy;
  padding: 20px;
}

input {
  padding: 15px;
  background-color: tomato;
  border: 0;
  color: white;
}

.students-container {
  margin-bottom: 20px;
}

.attended-container {
  display: flex;
}

.attended-container > span {
  flex: 0 1 auto;
  padding-right: 10px;
  font-size: 20px
}
