.product {
  border: solid 1px lightgrey;
  padding: 20px;
  text-align: center;
}
.product-description {
  text-align: center;
}
.product-image {
  display: block;
  text-align: center;
  color: blue;
  font-size: 40px;
  margin: 20px 0;
}