@import "content";
@import "mixins";
@import "product";

@mainBlue: cornflowerblue;
.user-info {
  display: block;
  font-size: 19px;
  width: 350px;
  padding: 20px;
  margin: 10px;
  background-color: lightblue;
  border: solid 1px @mainBlue;
  border-radius: 4px;
  color: black;
}
.error {
  color: red;
  border: solid 1px red;
  padding: 10px;
  margin-bottom: 10px;
}
.error.is-shown {
  visibility: visible;
}
.user-info-label {
  vertical-align: middle;
  font-weight: 300;
}
.user-info-label input {
  margin: 0 30px 0 10px;
}
.productContainer {
  display: inline-block;
  background-color: @mainBlue;
  padding: 20px;
  font-size: 1.7rem;
  border-radius: 4px;
  color: white;
  margin: 20px;
}
.productContainer.is-loading {
  opacity: 0.4;
  background-color: grey;
}
.productsContainer.is-loading form {
  opacity: 0.4;
  background-color: grey; 
}
.productContainer input {
  color: black;
}
.productContainer button {
  display: block;
  margin: 10px auto;
  color: black;
}
.productContainer b {
  margin-left: 10px;
}
.productImage {
  display: block;
  margin-top: 30px;
  width: 200px;
  height: auto;
}


