* {
	padding: 0px;
	margin: 0px;
}

body {
	background-color: #104376;
}

.cat-paws {
	position: absolute;
	animation: paws 800ms linear infinite;
	top: 300px;
	left: 500px;
}

.paw {
	width: 40px;
	height: 40px;
	position: absolute;
	background-color: #a5a6a6;
	border-style: solid;
	border-width: 8px;
	border-radius: 10px;
}

.paw:nth-child(1) {
	margin-left: -170px;
}

.paw:nth-child(2) {
	margin-left: -110px;
}

.paw:nth-child(3) {
	margin-left: 50px;
}

.paw:nth-child(4) {
	margin-left: 110px;
}

.cat-body {
	width: 300px;
	height: 200px;
	position: absolute;
	top: 110px;
	left: 350px;
	background-color: #f9a6fa;
	border-color: #000000;
	border-style: solid;
	border-width: 8px;
	border-radius: 20px;
	animation: body 800ms linear infinite;
}

.cat-head {
	position: absolute;
	left: 500px;
	top: 200px;
	width: 190px;
	height: 100px;
	background-color: #a5a6a6;
	border-style: solid;
	border-color: #000000;
	border-width: 8px;
	border-radius: 60px; 
	animation: paws 1000ms linear infinite;
}

.rainbow {
	position: absolute;
	background: linear-gradient(
		to bottom, 
		#f7120d, #f7120d 16%,  
		#fea20e 16%, #fea20e 32%, 
		#fcfe07 32%, #fcfe07 48%, 
		#3afe08 48%, #3afe08 64%, 
		#0faefe 64%, #0faefe 80%, 
		#7941fe 80%, #7941fe 
	);
	width: 50px;
	height: 150px;
	margin-top: 130px;
}

.rainbow:nth-child(1) {
	margin-left: 300px;
	animation: rainbow 300ms linear infinite;
}

.rainbow:nth-child(2) {
	margin-left: 250px;
	animation: rainbow-reverse 300ms linear infinite;
}

.rainbow:nth-child(3) {
	margin-left: 200px;
	animation: rainbow 300ms linear infinite;
}

.rainbow:nth-child(4) {
	margin-left: 150px;
	animation: rainbow-reverse 300ms linear infinite;
}


@keyframes body {
	25% {
		margin-top: 0px;
	}
	50% {
		margin-top: -10px;
	}
	75% {
		margin-top: 0px;
	}
}

@keyframes paws {
	25% {
		margin-top: 0px
		margin-left: -10px;
	}
	50% {
		margin-left: -10px;
		margin-top: -10px;
	}
	75% {
		margin-top: -10px;
		margin-left: 0px;
	}
}

@keyframes rainbow {
	from {
		margin-top: 130px;
	}
	to {
		margin-top: 120px;
	}
}

@keyframes rainbow-reverse {
	from {
		margin-top: 130px;
	}
	to {
		margin-top: 140px;
	}
}