* {
	margin: 0;
	padding: 0;
}

body {
	background-color: gray;
}

.wrapper {
	width: 1000px;
	margin: 0 auto;
	background-color: white;
}

header {
	position: relative;
	border-top: solid 5px rgb(53, 158, 205);
	background-color: rgba(0, 0, 0, 1);
	padding: 43px 20px;
}

.logo-top {
	position: absolute;
	left: 20px;
	top: 35px;
	text-transform: uppercase;
	font-family: Georgia;
	color: #ffffff;
	font-size: 28px;
	line-height: 28px;
}

.logo-bottom {
	position: absolute;
	left: 20px;
	top: 63px;
	font-family: Georgia;
	color: #979797;
	font-size: 11px;
	font-weight: 400;
	line-height: 11px;

}

.nav {
	float: right;
}

.nav-item {
	display: inline-block;
	color: white;
	font-family: Georgia, Sans-serif;
	font-size: 0.76rem;
	padding: 13px 20px;
	border-radius: 8px;
	box-sizing: padding-box;
}

.is-selected {
	background-color: rgba(53, 158, 205, 1);
}

.nav-item:hover {
	background-color: rgba(53, 158, 205, 1)
}

main {
	padding: 20px;
}

h1 {
	font-family: Georgia;
	color: #333333;
	font-size: 124px;
	font-weight: 400;
	line-height: 111.6px;
	padding-top: 30px;
}

.secton-service {
	margin-top: 60px;
	font-size: 0;
}

.service-1, .service-2, .service-3, .service-4 {
	box-sizing: border-box;
	display: inline-block;
	font-family: Georgia;
	font-size: 1rem;
	color: black;
	border: solid 1px rgb(221, 221, 221); 
	width: 225px;
	margin-right: 20px;
	padding: 160px 45px 22px 45px;
	vertical-align: top;
	background-image: url(images/sprite-service.png);
	background-repeat: no-repeat;
}

.service-2 {
	background-position: -235px 0px;
}
.service-3 {
	background-position: -450px 0px;
}
.service-4 {
	margin-right: 0;
	background-position: -685px 0px;
}

.service-title {
	font-weight: 400;
	line-height: 32px;
	font-size: 32px;
	text-align: center;
}

.service-text {
	margin-top: 22px;
	font-size: 12px;
	font-weight: 400;
	line-height: 16.8px;
	text-align: center;
}

.is-service-selected {
	background-image: url(images/sprite-service.png);
	background-position: -900px 0px;
	color: white;
	background-color: rgb(53, 158, 205);
}
.service-2:hover, .service-3:hover, .service-4:hover {
	background-color: rgb(53, 158, 205);
	color: white;
	border: none;
}
.service-2:hover {
	background-position: -1135px 0;
}
.service-3:hover {
	background-position: -1350px 0;
}
.service-4:hover {
	background-position: -1585px 0;
}

.clearfix::after {
	content: '';
	display: block;
	clear: right;
}













