* {
  margin: 0;
  padding: 0;
}


#wrapper {
  width: 80%;
  margin: 60px auto;
}
.colums {
  display: inline-block;
}
.colums:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}
.colums .col {
  box-sizing: border-box;
  width: 25%;
  float: left;
  padding: 2%;
}
.bg {
  background-image: -webkit-gradient(
		linear,
		left top,
		right top,
		color-stop(0, #eee),
		color-stop(25%, #eee),
		color-stop(25%, #ccc),
		color-stop(50%, #ccc),
		color-stop(50%, #eee),
		color-stop(75%, #eee),
		color-stop(75%, #ccc),
		color-stop(100%, #ccc),
		color-stop(100%, #eee)
	);
}
