* {
	padding: 0px;
	margin: 0px;
}

.panel {
	background-color: #000080;
}


.item {
	display: inline-block;
	background-color: #ff6347;
	margin: 50px 25px 50px 0px;
}

.caption {
	color: white;
	display: inline-block;
	margin: 25px;
	cursor:pointer;
	font-size: 14px;
	font-weight: 600;
}

.counter {
	font-size: 12px;
	display: inline-block;
	color: #ffffff;
	background-color: #199916;
	border-radius: 50%;
	text-align: center;
	vertical-align: middle;
	position: absolute;
	margin: -5px -15px;
	padding: 2px 6px;
}
.caption:hover {
	color: #feff00;
}