* {
	margin: 0;
	padding: 0;
}

.order {
	width: 100%;
	height: 250px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.buttons {
	width: 230px;
	display: inline-flex;
	justify-content: space-between;
}

.start-order, .finish-order {
	margin: 5px;
	padding: 20px;
	color: white;
	background-color: darkblue;
}

.button-sandwich, .button-juice {
	margin: 5px;
	padding: 20px;
	color: white;
	background-color: coral;
}
