body {
	background-image: url('world-map.png');
	background-repeat: no-repeat;
	background-position:  center -150px;
	background-size: cover;
	background-color: rgba(211, 211, 211, 0.5)

}

header {
	text-align: center;
}

h1 {
	text-decoration: underline;
	font-weight: bold;
	letter-spacing: 4px;
	font-family: sans-serif;
}

h2 {
	font-style: italic;
	font-weight: normal;
	letter-spacing: 2px;
	font-family: cursive;
}

a:link {
	color: blue;
}

a:visited {
    color: dimgrey;
}

p {
	color: darkslategrey;
	text-indent: 20px;
}