* {
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
}
.map {
  background-image: url('./italy.gif');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 100%;
  margin: 0 auto;
  font-size: 0;
}
.map div {
  float: left;
  width: 33.33%;
  height: 100%;
}
.green {
  background-color: rgba(71, 176, 125, 0.7);
}
.white {
  background-color: rgba(240, 244, 245, 0.7);
}
.red {
  background-color: rgba(215, 104, 114, 0.7);
}
