.productContainer {
	display: inline-block;
	margin: 20px;
	padding: 20px;
	color: #FFF;
	border-radius: 10px;
	background-color: #ff6347;
}

.productContainer img {
	display: block;
	margin-top: 10px;
}