.wraper {
	display: flex;
	flex-direction: column;
	width: 50%;
	margin: 0 auto;
}

.Order() {
	display: flex;
	justify-content: center;
	padding: 30px;
	background-color: navy;
	color: white;
}

.meelItem() {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-basis: 100px;
	height: 50px;
	padding: 30px;
	margin-right: 50px;
	background-color: #e5703d;
	color: white;	
}


.meel {
	display: flex;
	flex-basis: 200px;
	justify-content: center;
	align-items: center;
	.sandwitch {
		.meelItem()
	}
	.juice {
		.meelItem()
	}
}

 .startOrder {
 	.Order();
 }

 .finishOrder {
 	.Order();
 }