* {
  margin: 0;
  padding: 0;
}
.wallpaper {
  background-image: url('img/background.jpg');
}
.header {
  width: 100%;
  height: 10%;
  margin: 5px;
  padding: 20px;
  background-color: #00A599;
  font-style: italic;
  color: #004742;
}
.sectionAdd {
  width: 70%;
  height: 100%;
  margin: 1% 15%;
  padding: 30px;
  background-color: #68CEC7;
  font-style: italic;
  color: #004742;
}
.cardAdd {
  display: inline-block;
  width: 150px;
  height: 60px;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  background-color: #B9F8F3;
  font-size: 20px;
}
.buttonAdd {
  display: inline-block;
  width: 80px;
  height: 60px;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  background-color: #00A599;
  font-size: 20px;
  text-align: center;
  border-style: outset;
  border-width: 1px;
}
.sectionView {
  width: 70%;
  height: 100%;
  margin: 1% 15%;
  padding: 30px;
  background-color: #68CEC7;
  font-style: italic;
  color: #004742;
}
.cardView {
  display: inline-block;
  width: 150px;
  height: 30px;
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  background-color: #B9F8F3;
  font-size: 18px;
  font-style: normal;
}
.buttonEditDelete {
  display: inline-block;
  width: 60px;
  height: 30px;
  margin: 10px;
  padding: 5px;
  border-radius: 10px;
  background-color: #00A599;
  font-size: 18px;
  text-align: center;
  border-style: outset;
  border-width: 1px;
}
