@header_buttonColor: #00A599;
@fontColor: #004742;
@sectionColor: #68CEC7;
@cardColor: #B9F8F3;

* {
	margin: 0;
	padding: 0;
}

.wallpaper {
	background-image: url('img/background.jpg');
}

.header {
	width: 100%;
	height: 10%;
	margin: 5px;
	padding: 20px;
	background-color: @header_buttonColor;
	font-style: italic;
	color: @fontColor;
}

.sectionAdd {
	width: 70%;
	height: 100%;
	margin: 1% 15%;
	padding: 30px;
	background-color: @sectionColor;
	font-style: italic;
	color: @fontColor;
}

.cardAdd {
	display: inline-block;
	width: 150px;
	height: 60px;
	margin: 10px;
	padding: 20px;
	border-radius: 10px;
	background-color: @cardColor;
	font-size: 20px;
}

.buttonAdd {
	display: inline-block;
	width: 80px;
	height: 60px;
	margin: 10px;
	padding: 20px;
	border-radius: 10px;
	background-color: @header_buttonColor;
	font-size: 20px;
	text-align: center;
	border-style: outset;
	border-width: 1px;
}

.sectionView {
	width: 70%;
	height: 100%;
	margin: 1% 15%;
	padding: 30px;
	background-color: @sectionColor;
	font-style: italic;
	color: @fontColor;
}

.cardView {
	display: inline-block;
	width: 150px;
	height: 30px;
	margin: 5px;
	padding: 10px;
	border-radius: 10px;
	background-color: @cardColor;
	font-size: 18px;
	font-style: normal;
}

.buttonEditDelete {
	display: inline-block;
	width: 60px;
	height: 30px;
	margin: 10px;
	padding: 5px;
	border-radius: 10px;
	background-color: @header_buttonColor;	
	font-size: 18px;
	text-align: center;
	border-style: outset;
	border-width: 1px;
}