* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}

.page {
	display: flex;
	min-height: 100%;
	flex-direction: column;
}

.header {
	display: flex;
	padding: 20px 0 20px 20px;
	height: 60px;
	background-color: navy;
	align-items: center;
}

.header-button {
	width: 100px;
	height: 40px;
	background-color: red;
	color: white;
	line-height: 40px;
	text-align: center;
	margin-right: 20px;
}

.header-button-sing {
	margin-left: auto;
}

.events {
	flex-direction: column;
	padding: 15px;
}

h2 {
	padding: 15px;
}

.events-row {
	display: flex;
}

.Row {
	padding: 15px;
	background-color: rgb(255, 249, 237);
	border: solid 1px gray;
	display: flex;
}

.Row-left {
	flex-grow: 1;
	text-align: justify;
}

.Row-midle, .Row-right {
	width: 200px;
	flex-shrink: 0;
	align-items: center;
	justify-content: center;
}


.jobs {
	display: flex;
	flex-direction: column;
	padding-left: 10px ;
}

.jobs-Row, .jobs-Row {
	display: flex;
}

.jobs-Row {
	
	margin: 0 10px 10px 0;
}

.jobs-Row-left{
	background-color: rgb(146, 26, 32);
	width: 200px;
	flex-shrink: 0;
	color: white;
	padding: 15px;


}

.jobs-Row-right{
	background-color: rgb(198, 84, 24);
	padding: 15px;
	text-align: justify;
	display: flex;

}

.Row-right-button {
	width: 80px;
	height: 40px;
	background-color: red;
	line-height: 40px;
	text-align: center;
	flex-shrink: 0;
	align-self: flex-end;
}

.right-text {
	margin-right: 15px;
}





