header {
	background-color: rgb(26, 197, 198);
	padding: 15px;
}

header div {
	display: inline-block;
	color: white;
	background-color: rgb(128, 0, 200);
	margin-right: 20px;
	padding: 15px;
}

section {
	font-size: 0;
	background-color: rgb(255, 222, 183);
	display: inline-block;
	padding: 15px;
	margin-top: 40px;	
}


section div {
	display: inline-block;
	box-sizing: border-box;
	padding: 20px;
	font-size: 16px;
	width: 50%;
	margin-right: 0%;
	border: solid 1px red;
	color: white;
	background-color: rgb(213, 170, 117);	
}









