* {
margin: 0;
padding: 0;
}

.list {
	width: 100%;
	height: 350px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.buttons {
	width: 500px;
	display: inline-flex;
	justify-content: space-between;
}

.info-string {
	margin: 5px;
	padding: 20px;
	font-size: 20px;
	font-weight: bold;
	color: white;
	background-color: dodgerblue;
}

.preview {
	margin: 5px;
	padding: 20px;
	color: white;
	background-color: dodgerblue;
}
.name {
	margin: 5px;
	padding: 20px;
	color: white;
	background-color: coral;
}