<!DOCTYPE html>
<html>
<head>
	<title>Stock exchange</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="css/icons.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body class="container" ng-app="stockExchange">
<div ng-include="views/header.html"></div>
<div ui-view></div>

<script id="productTemplate" type="text/template">

</script>
<script id="productEditTemplate" type="text/template">
    <div class="js-error error">Please check data you entered</div>
    <div class="js-serverError error">Sorry, something went wrong</div> 
    <label>Name
      <input id="productName" value="<%= productName %>" />
    </label>
    <label>Price
      <input id="productPrice" value="<%= productPrice %>" />
    </label>
    <button class="js-submit">Submit</button>
</script>
<script id="productDetailsTemplate" type="text/template">
  
</script>
<script id="productCollectionTemplate" type="text/template">
  
</script>
<script src="js/angular.min.js"></script>
<script src="js/angular-ui-router.js"></script>
<script src="js/app.js"></script>
<script src="js/product-collection-controller.js"></script>
<script src="js/product-details-controller.js"></script>
<script src="js/product-service.js"></script>
<script src="js/product-factory.js"></script>
<script src="js/directives/product-directive.js"></script>
</body>
</html>