
header, footer {
  background-color: #f0f8ff;
  padding: 15px;
}
header {
  text-align: right;
}
footer {
  text-align: left;
}
input {
  color: white;
}
header input, footer input {
  padding: 15px;
  background-color: #6495ed;
}
section {
  border: 1px solid #6495ed;
  margin: 20px;
  padding: 15px;
}
p {
  margin: 10px;
  background-color: #f5f5dc;
}
section input {
  padding: 5px;
  background-color: #a52a2a;
}
section > input {
  background-color: white;
  color: #4f00ff;
}
