* {
  margin: 0;
  padding: 0;
}
body {
  background-color: lightgrey;
  background-image: url('./world-map.png');
  background-position: 0 25%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
}
h1 {
  text-decoration: underline;
  font-family: sans-serif;
  font-weight: bold;
  letter-spacing: 4px;
  text-align: center;
}
h2 {
  text-align: center;
  font-family: cursive;
  font-style: italic;
  font-weight: normal;
  letter-spacing: 2px;
}
li a:visited {
  color: darkgrey;
}
article {
  margin-top: 20px;
  text-indent: 20px;
  color: darkslategrey;
}
