* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #2b2b2b;
  font-family: Georgia, sans-serif;;
}
.wrapper {
  margin: 0 auto;
  width: 1000px;
  background-color: #FFF;
}
.sprite {
  display: inline-block;
  background: url('sprite.png') no-repeat top left;
  width: 135px;
  height: 128px;
}
.logo {
  float: left;
}
.logo span {
  display: block;
}
#logo-text {
  color: #ffffff;
  font-size: 28px;
  font-weight: 400;
  line-height: 28px;
}
#logo-undertext {
  color: #979797;
  font-size: 11px;
  font-weight: 400;
  line-height: 11px;
}
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
header {
  padding: 43px 20px;
  background-color: #000;
  border-top: 6px solid #40aed7;
}
nav {
  float: right;
}
.nav-item {
  padding: 13px 20px;
  color: #FFF;
  font-size: 13px;
  font-weight: 400;
  line-height: 15.6px;
  background-color: rgba(64, 174, 215, 0);
  border-radius: 10px;
  cursor: pointer;
  text-transform: uppercase;
}
.is-selected {
  background-color: #40aed7;
  border-radius: 10px;
}
.nav-item:hover {
  background-color: rgba(64, 174, 215, 1);
  transition: background-color 0.1s ease;
}
.dropdown-menu {
  display: inline-block;
  position: relative;
  border-radius: 10px 10px 0 0;
}
.dropdown-menu ul {
  top: 40px;
  left: 0;
  position: absolute;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  margin-top: -30px;
}
.dropdown-item {
  text-align: center;
  padding: 10px 10px;
  list-style: none;
}
.dropdown-item:hover {
  text-shadow: 1px 1px 1px #000;
}
.dropdown-menu:hover ul{
  margin-top: 0px;
  background-color: #40aed7;
  border-radius: 0 0 10px 10px;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.1s ease, margin-top 0.2s ease-out;
}
h1 {
  margin: 60px 20px;
  color: #333333;
  font-size: 124px;
  font-weight: 400;
  line-height: 111.6px;
}
.services, .team-bios, footer {
  padding: 0 20px;
  font-size: 0;
}
.service-button, .team-member, footer section {
  box-sizing: border-box;
  display: inline-block;
  margin-right: 20px;
  width: 225px;
}
.service-button {
  padding: 20px 33px;
  text-align: center;
  border: 1px solid #e4e4e4;
}
.service-button:last-child, .team-member:last-child, footer section:last-child {
  margin-right: 0px;
}
.service-button h3 {
  margin-top: 15px;
  color: #333;
  font-size: 32px;
  font-weight: 400;
  line-height: 32px;
}
.service-button p {
  margin-top: 20px;
  color: #979797;
  font-size: 12px;
  font-weight: 400;
  line-height: 16.8px;
}
.service-button:hover {
  background-color: #40aed7;
}
.service-button:hover h3, .service-button:hover p {
  color: #FFF;
}
.first-icon {
  background-position: 0 0;
}
.service-button:hover .first-icon {
  background-position: -135px 0;
}
.second-icon {
  background-position: -270px 0;
}
.service-button:hover .second-icon {
  background-position: -405px 0;
}
.third-icon {
  background-position: -540px 0;
}
.service-button:hover .third-icon{
  background-position: -675px 0;
}
.fourth-icon {
  background-position: -810px 0;
}
.service-button:hover .fourth-icon {
  background-position: -945px 0;
}
h2 {
  margin: 60px 0;
  text-align: center;
  color: #d3d3d3;
  font-size: 124px;
  font-weight: 400;
  line-height: 124px;
}
.team-member div {
  height: 225px;
  text-align: center;
  background-color: #333;
  color: #FFF;
  font-size: 18px;
  font-weight: 400;
  line-height: 225px;
}
.team-member span {
  display: block;
  height: 50px;
  text-align: center;
  border-bottom: 1px solid #e4e4e4;
  color: #333;
  font-family: Georgia;
  font-size: 16px;
  font-weight: 400;
  line-height: 50px;
}
.team-member p {
  text-align: justify;
  padding: 15px 1px;
  color: #979797;
  font-size: 13px;
  font-weight: 400;
  line-height: 18.2px;
}
.team-member a {
  display: block;
  text-align: right;
  text-decoration: none;
  color: #40aed7;
  font-size: 13px;
  font-weight: 400;
  line-height: 15.6px;
}
footer {
  margin-top: 60px;
  padding-bottom: 30px;
  background-color: #303030;
}
footer h4 {
  margin: 40px 0 33px 0;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
}
.post h5 {
  color: #979797;
  font-size: 13px;
  font-weight: 400;
  line-height: 15.6px;
}
.author, .post a {
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
}
.author {
  color: #666;
  margin: 12px 0 10px 0;
}
.author a {
  color: #3fadd7;
  text-decoration: none;
}
.post h6 {
  margin: 12px 0;
  color: #979797;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
}
.text {
  color: #979797;
  margin: 0 0 9px 0;
  font-size: 13px;
  font-weight: 400;
  line-height: 20.8px;
}
.post > a {
  color: #40aed7;
  font-size: 13px;
  font-weight: 400;
  line-height: 15.6px;
  text-decoration: none;
}
.links-section, .tweets, .contacts {
  vertical-align: top;
}
.links a {
  display: block;
  padding: 12px 0 7px 0;
  border-bottom: 1px solid #404040;
  color: #40aed7;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  text-decoration: none;
}
.links a:first-child {
  padding-top: 0px;
}
.tweets p {
  margin-bottom: 20px;
  color: #979797;
  font-size: 13px;
  font-weight: 400;
  line-height: 20.8px;
}
.tweets p a {
  color: #40aed7;
  text-decoration: none;
}

.contact-form input, .contact-form textarea {
  box-sizing: border-box;
  display: block;
  padding: 13px 10px;
  margin-bottom: 10px;
  width: 100%;
  color: #FFF;
  background-color: #222;
  border: 0px;
  font-family: Georgia;
  font-size: 13px;
  font-weight: 400;
  line-height: 15.6px;
  outline: none;
}
.contact-form input:placeholder-shown, .contact-form textarea:placeholder-shown {
  color: #989898;
}
.contact-form input[type='submit'] {
  padding: 13px 12px;
  width: auto;
  text-align: left;
  background-color: #40aed7;
  border-radius: 10px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
}
.subfooter {
  background-color: #2b2b2b;
  padding: 23px 20px;
}
.subfooter span {
  display: inline-block;
  color: #979797;
  font-size: 13px;
  font-weight: 400;
  line-height: 13px;
}
#copyright {
  float: left;
}
#made-by {
  float: right;
}
