.wrapper {
  max-width: 1200px;
  margin: 10px auto;
}
.layout-grid {
  display: flex;
}
.layout-grid div {
  padding: 10px;
}
.layout-fixed_width_container {
  flex: 0 0 200px;
}
.layout-stretching_container {
  flex-grow: 1;
}
