header {
  align-items: center;
  background-color: #6495ED;
}
header input[type=button] {
  margin-right: 10px;
  padding: 10px 7px;
  background-color: #FF6347;
  border: 0;
}
header input:first-child {
  margin-left: 10px;
}
header input:last-child {
  margin-left: auto;
}
.events {
  margin-bottom: 15px;
  background-color: #F5F5DC;
}
.events .events-date_price {
  margin: 1px;
  background-color: #FFFAF0;
}
.jobs {
  margin-bottom: 22px;
}
.jobs .jobs-title {
  margin-left: 7px;
  margin-right: 15px;
  background-color: #A52A2A;
}
.jobs .jobs-description {
  background-color: #D2691E;
}
.jobs .jobs-description input[type=button] {
  align-self: flex-end;
  padding: 13px 10px;
  background-color: #A52A2A;
  border: 1px solid #8B0000;
  border-radius: 4px;
}
