* {
    padding: 0px;
    margin: 0px;
}

.panel {
    background-color: #6495ed;
    color: white;
    font-size: 1.3em;
    padding: 15px;
}

.content {
    padding: 20px;
}

.student {
    display: inline-block;
    color: white;
    background-color: #ff6347;
    font-size: 1em;
    padding: 20px;
    margin-right: 10px;
    cursor: pointer;
}

#attended {
    font-size: 0.7em;
}