* {
	padding: 0px;
	margin: 0px;
}

html, body {
	height: 100%;
}

.container {
	width: 100%;
	height: 100%;
	font-size: 0px;
	background-image: linear-gradient(
	 	to right, 
	 	grey, 
	 	grey 25%, 
	 	darkgrey 25%, 
	 	darkgrey 50%, 
	 	grey 50%, 
	 	grey 75%, 
	 	darkgrey 75%
	);
}

.container div {
	width: 25%;
	height: 100%;
	display: inline-block;
	float: left;
	font-size: 14px;
	padding: 20px;
	box-sizing: padding-box;
}