* {
	padding: 0px;
	margin: 0px;
	font-size: 0px;
}

html, body, .container {
	height: 100%;
}

.container {
	background-image: url('italy.gif');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	background-attachment: fixed;
}

.container > div {
	height: 100%;
	display: inline-block;
	width: 33%;
}

.container :first-child {
	background-color: rgba(223, 0, 36, 0.7);
	float: left;
}

.container :last-child {
	background-color: rgba(0, 98, 33, 0.7);
	float: right;
}
