header {
  padding: 15px;
  background-color: #00ced1;
}
header input {
  padding: 15px;
  background-color: #9400d3;
  border: 0px;
  color: white;
}
header input:first-child {
  margin-right: 20px;
}
section {
  margin-top: 40px;
  padding: 15px;
  width: 440px;
  background-color: #ffe4c4;
  font-size: 0;
}
section input {
  display: inline-block;
  margin-right: 5%;
  padding: 10px;
  width: 45%;
  box-sizing: border-box;
  background-color: #deb887;
  border: 1px solid #a52a2a;
  color: white;
  font-size: 13.3333px;
}
